<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
    <stringAttribute key="BRName" value="INODE_DEV"/>
    <stringAttribute key="ConnectionInfo" value="192.168.85.130:4414"/>
    <stringAttribute key="EGName" value="ISVR1"/>
    <stringAttribute key="com.ibm.debug.wsa.attr_vm_name" value="IBM J9 VM"/>
    <stringAttribute key="com.ibm.debug.wsa.attr_vm_version" value="1.8.0_411"/>
    <intAttribute key="com.ibm.debug.wsa.attr_was_version" value="61"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="192.168.85.130"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="1234"/>
</launchConfiguration>
